body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
body{
  background-color: #363434;
  color: none;
}
header{
  background-color: #5c5757;
  padding: 20px;
  border: solid #62929a 5px;
  margin: none;
  font-family: inherit;
  font-size: inherit;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}
li {
  float: right;
}
li a {
  display: block;
  color: #efecec;
  padding: 8px;
  background-color: #62929a;
  text-align: center;
  padding: 14px 16px;
}
li a:hover{
  background-color:#363434;
}

.section-two{
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  border-color:#62929a;
  border:solid #5c5757 5px;
}

.second-color{
  background:#5c5757;
}
.third-color{
  background: #62929a;
}
.fourth-color{
  background: #efecec;
}