body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
body{
  background-color: #363434;
  color: none;
}
header{
  background-color: #5c5757;
  padding: 10px;
  border: solid #62929a 5px;
  margin: none;
  font-family: inherit;
  font-size: inherit;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}
li {
  float: right;
}
li a {
  display: block;
  color: #efecec;
  padding: 8px;
  background-color: #62929a;
  text-align: center;
  padding: 14px 16px;
}
li a:hover{
  background-color:#363434;
}
h2 {
  color:#efecec;
  text-align:center;
  text-decoration-line: underline;
}
p {
  border-radius: 25px;
  border:#5c5757 solid 5px;
  background-color:#62929a;
  padding: 10px;
  margin:5px;
}
.section-one {
  border-radius: 25px;
  background-color: #efecec;
  border:#5c5757 solid 5px;
  width:700px;
  padding:10px;
  margin:0;
  float:left;
}
.section-two {
  border-radius: 25px;
  background-color: #efecec;
  border:#5c5757 solid 5px;
  width:700px;
  padding:10px;
  padding-bottom: 80px;
  margin:0;
  float:left;
}
h3 {
  text-align: center;
  color:#62929a
}
img {
  width:700px;
  height:auto;
  padding:none;
}
